@use 'sass:map';
@use 'bulma/sass/utilities/initial-variables.sass' as variables;
@use 'bulma/sass/helpers/spacing.sass' as spacing;
@use 'bulma/sass/utilities/mixins.sass' as mixins;

$sidebar-width: 250px;

.room {
  display: grid;
  height: 100%;
  min-height: 300px;
  overflow: hidden;

  @include mixins.tablet {
    grid-template-columns: 1fr $sidebar-width;
  }

  &__main {
    min-height: 0;
  }
}

.sidebar {
  display: none;
  position: absolute;
  background-color: variables.$white-ter;

  @include mixins.tablet {
    display: block;
    position: static;
    border-left: 1px solid variables.$grey-lighter;
  }
}
