@use 'sass:map';
@use 'bulma/sass/utilities/initial-variables.sass' as variables;
@use 'bulma/sass/helpers/spacing.sass' as spacing;
@use 'bulma/sass/utilities/mixins.sass' as mixins;

$sidebar-width: 250px;

.room__header {
  padding: map.get(spacing.$spacing-values, '2');

  @include mixins.tablet {
    padding: map.get(spacing.$spacing-values, '3') map.get(spacing.$spacing-values, '5');
  }
}

.chat {
  padding: 0;

  @include mixins.tablet {
    padding: 0 map.get(spacing.$spacing-values, '5') map.get(spacing.$spacing-values, '5');
  }

  &__container {
    display: grid;
    height: 100%;
    min-height: 300px;
    overflow: hidden;

    @include mixins.tablet {
      grid-template-columns: 1fr $sidebar-width;
      border-radius: variables.$radius-large;
    }
  }

  &__main {
    min-height: 0;
  }
}

.sidebar {
  display: none;
  position: absolute;
  background-color: variables.$white-ter;

  @include mixins.tablet {
    display: block;
    position: static;
    border-left: 1px solid variables.$grey-lighter;
  }
}
