@use 'bulma/sass/utilities/initial-variables.sass' as variables;
@use 'bulma/sass/utilities/derived-variables.sass' as derived-variables;

// Bulma custom theme variables
// Need to come before importing Bulma
$body-background-color: #eaf0f5;
$primary: #0367a6;
$primary-light: hsl(203, 100%, 90%);
$family-primary: 'Lato', 'Arial', sans-serif;

@import 'bulma/bulma.sass';

.loader-big {
  @include loader;
  border-color: $grey-lighter;
  border-left-color: $info;
  border-bottom-color: $info;
  font-size: 6rem;
  border-width: 4px;
}

.hamburger {
  @include hamburger(2rem);
}

.has-border {
  border: 1px solid $grey-lighter;
}

.is-rounded {
  border-radius: $radius-large;
}

.is-min-fullheight {
  min-height: 100%;
}

.is-full-height {
  height: 100vh;
}

.has-overflow-hidden {
  overflow: hidden;
}

.has-overflow-y-scroll {
  overflow-y: auto;
}

.has-thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: variables.$grey-lightest variables.$grey-lighter;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: variables.$grey-lightest;
  }

  &::-webkit-scrollbar-thumb {
    background: variables.$grey-lighter;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: variables.$grey-light;
  }
}

.message.is-danger .message-header {
  border-radius: 6px;
  background-color: derived-variables.$danger-dark;
}
